



<div class="container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell (click)="openDialog(people.name)" *matCellDef="let people"> {{people.name}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="age">
      <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
      <mat-cell (click)="openDialog(people.name)" *matCellDef="let people"> 
      	{{people.age}}
      </mat-cell>
    </ng-container>

   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<!-- <button mat-button (click)="openDialog()"></button> -->



<!-- (click)="onSelect(people.name)" -->
<!-- <button mat-button (click)="openDialog()">{{people.age}}</button> -->